@import '../footer/footer.component.css';

 .boton {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.9rem;
    padding-right: 3rem;
    background: linear-gradient( #FFFB00 100%, transparent 90%);
    color: #000;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    transition: .2s ease-in-out 0s;
  }
  
  .boton:hover {
    font-size: 2rem;
    color: #000;
  }

  .about {
    background-color: #000;
  }
  
  .about-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    }
  
  
  .about .image img {
    width: 100%;
    padding: 2rem;
  }
  
  .about .content span {
    font-size: 2rem;
    color: #FFFB00;
  }
  
  .about .content .title {
    font-size: 4rem;
    color: #fff;
    margin-top: .5rem;
  }
  
  .about .content p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
    line-height: 2;
  }
  
  .about .content .contenedor .caja h3 {
    font-size: 2rem;
    color: #fff;
  }
  
  .about .content .contenedor .caja h3 i {
    padding-right: 1.5rem;
    color: #FFFB00;
  }
  
  .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
  }
  @media (max-width: 992px) {
    body {
      font-size: 20%;
    }
  
    .inicio, .about-contenedor, .contenedor {
      display: block;
      text-align: center;
    }
  }
  
  /* tablets / celulares */
  @media (max-width: 768px) {
    
    .contenedor {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }
  }
  
  /* celulares */
  @media (max-width: 576px) {
    html {
      font-size: 65%;
    }
    
    .about-contenedor, .contenedor {
      text-align: center;
    }
  } 
  
 