<!-- inicio de seccion membresia  -->
<section class="membresia" id="membresia">
    <h1 class="texto"><span>Membresia</span></h1>
    <div class="contenedor">
        <div class="information">
            <h3>Plan de precios asequibles para usted</h3>
            <p>Entrena con nosotros eligiendo un plan. Todos incluyen las áreas de cardio, peso integrado, peso libre, funcional, profesores de piso para evaluaciones y creación de rutinas, vestuarios y más.</p>
            <p>Ejercicios de cardio </p>
            <p>Levantamiento de pesas </p>
            <p>Planes de dieta </p>
            <p>Resultados totales </p>
        </div>

        <div class="plan basic">
            <h3>Plan Basico</h3>
            <div class="price"><span>$</span>3500</div>
            <h3>Entrena cuando quieras en una sola sede</h3>
        <div class="list">
            <p>Ejercicios de cardio </p>
            <p>Levantamiento de pesas </p>
            <p>Resultados totales </p>
        </div>
        <a href="#" class="boton" routerLink="/inicio" routerLinkActive="active">Empieza ahora</a>
        </div>

        <div class="plan premium">
            <h3>Plan Premium</h3>
            <div class="price"><span>$</span>4500</div>
            <h3>Entrena en cualquiera de nuestras sedes.</h3>
        <div class="list">
            <p>Acceso a todas las áreas del gimnasio</p>
            <p>Entranamiento personal</p>
            <p>Levantamiento de pesas </p>
            <p>Planes de dieta </p>
            <p>Invita a un amigo a entrenar</p>
        </div>
        <a href="#" class="boton" routerLink="/inicio" routerLinkActive="active">Empieza ahora</a>
        </div>
    </div>  
</section>