@import '../footer/footer.component.css';

  .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
  }
  
  .membresia .boton {
    transition: .2s ease-in-out 0s;
  }

  .membresia {
    background-color: #000;
  }
  
  .membresia .information span {
    font-size: 2rem;
    color: #FFFB00;
  }
  
  .membresia .information h3 {
    font-size: 4rem;
    padding-top: .5rem;
    color: #fff;
  }
  
  .membresia .information p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  
  .membresia .information p i {
    padding-right: 1rem;
    color: #FFFB00;
  }
  
  .membresia .plan {
    text-align: center;
    padding: 2rem;
  }
  
  .membresia .plan.basic {
    background: linear-gradient(#111 100%, transparent 90%);
  }

  .membresia .plan.plan.basic:hover {
    transform: scale(1.03); /* Aumenta el tamaño en un 3% */
  }
  
  .membresia .plan.premium {
    background: linear-gradient(#111 100%, transparent 90%);
  }

  .membresia .plan.plan.premium:hover {
    transform: scale(1.03); /* Aumenta el tamaño en un 3% */
  }
  
  .membresia .plan h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  
  .membresia .plan .price {
    font-size: 5rem;
    font-weight: bolder;
    color: #FFFB00;
  }
  
  .membresia .plan .price span {
    color: #fff;
    font-size: 2rem;
  }
  
  .membresia .plan .list {
    padding: 1rem 0;
  }
  
  .membresia .plan .list p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  
  .membresia .plan .list p i {
    padding-right: 1rem;
    color: #FFFB00;
  }


  @media (max-width: 992px) {
    body {
      font-size: 20%;
    }
  
    .plan.basic {
      margin: 1rem;
    }
  
    .plan.premium {
      margin: 1rem;
    }
  }
  