
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" routerLink="/inicio">
            <span>Smart</span>FIT
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" routerLink="/inicio" routerLinkActive="active" >Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Informacion
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/about" routerLinkActive="active" >Sobre nosotros</a></li>
                  <li><a class="dropdown-item" routerLink="/planes" routerLinkActive="active">Planes</a></li>
                  <li><a class="dropdown-item" routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/membresia">Membresia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/tienda">Tienda</a>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cuenta
                </a>
                <ul class="dropdown-menu">
                  <ng-container *ngIf="loggedIn">
                    <li><a class="dropdown-item" routerLink="/perfil" routerLinkActive="active">Perfil</a></li>
                    <li><a class="dropdown-item" routerLink="/configuracion" routerLinkActive="active">Configuración</a></li>
                    <li><a class="dropdown-item" routerLink="/cerrarSesion" (click)="logout()">Cerrar sesión</a></li>
                  </ng-container>
                  <ng-container *ngIf="!loggedIn">
                    <li><a class="dropdown-item" routerLink="/login">Iniciar sesión</a></li>
                    <li><a class="dropdown-item" routerLink="/register">Registrarse</a></li>
                  </ng-container>
                </ul>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
      <router-outlet></router-outlet> <!--directiva router-outlet para que Angular sepa donde colocar el contenido del componente-->
</body>
