Proyecto 2023 Primer Cuatrimestre/Backend/env/

Proyecto 2023 Primer Cuatrimestre/Backend/SmartFit/SmartFit/__pycache__

Proyecto 2023 Primer Cuatrimestre/Backend/SmartFit/abm_SmartFit_app/__pycache__

Proyecto 2023 Primer Cuatrimestre/Backend/SmartFit/abm_SmartFit_app/migrations/