
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    background: #000;
  }
  
  body {
    background: #000;
  }
  
  section {
    padding: 5rem 9%;
  }
  
  .texto {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
  }
  
  .texto span {
    font-size: 3rem;
    color: #FFFB00;
    background: #000;
    padding: .5rem 1.5rem;
    border: 0.1rem solid #aaa;
    border-radius: .5rem;
  }
  
  .boton {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.9rem;
    padding-right: 3rem;
    background: linear-gradient( #FFFB00 100%, transparent 90%);
    color: #000;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
  }
  
  .boton:hover {
    font-size: 2rem;
    color: #000;
  }
  
  .navbar {
    padding: 0;
  }
  
  .navbar .navbar-brand {
    font-weight: bolder;
    color: #fff;
    font-size: 3rem;
    margin-left: 2%;
  }
  
  .navbar-brand span {
    color: #FFFB00;
  }
  
  .navbar .nav-item {
    font-weight: 600;
    padding-left: 50px;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .navbar .navbar-nav .nav-link {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    padding: 1em;
    transition: all .5s;
  }
  
  .navbar .navbar-nav .nav-link:hover {
    background: #FFFB00;
    color: white;
  }
  
  .navbar .dropdown-menu {
    background-color: #000;
  }
  
  .navbar .dropdown-menu li {
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    padding: 1em;
    transition: all .5s;
  }
  
  .navbar .dropdown-menu li a {
    color: white;
  }
  
  .navbar .dropdown-menu li a:hover {
    background-color: #000;
    color: #FFFB00;
  }
  
  .inicio {
    background-image: url('../assets/images/inicio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    width: 100%;
    min-height: 90vh;
    padding: 280px 0 220px;
  }
  
  .inicio span, h3 {
    color: white;
    font-size: 5rem;
    padding-left: 10%;
  }
  
  .inicio a {
    margin-left: 10%;
  }
  
  .about {
    background-color: #000;
  }
  
  .about-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    }
  
  
  .about .image img {
    width: 100%;
    padding: 2rem;
  }
  
  .about .content span {
    font-size: 2rem;
    color: #FFFB00;
  }
  
  .about .content .title {
    font-size: 4rem;
    color: #fff;
    margin-top: .5rem;
  }
  
  .about .content p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
    line-height: 2;
  }
  
  .about .content .contenedor .caja h3 {
    font-size: 2rem;
    color: #fff;
  }
  
  .about .content .contenedor .caja h3 i {
    padding-right: 1.5rem;
    color: #FFFB00;
  }
  
  .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
  }
  
  .planes {
    background-color: #000;
  }
  
  .planes .contenedor .caja:hover .image img {
    transform: scale(1.1);
  }
  
  .planes .contenedor .caja .image {
    height: 30rem;
    width: 100%;
    overflow: hidden;
  }
  
  .planes .contenedor .caja .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .planes .contenedor .caja .content {
    padding: 2rem;
    text-align: center;
  }
  
  .planes .contenedor .caja .content img {
    height: 9rem;
    margin-bottom: 1rem;
    filter: invert(1);
  }
  
  .planes .contenedor .caja .content h3 {
    font-size: 2rem;
    color: #FFFB00;
  }
  
  .planes .contenedor .caja .content p {
    line-height: 2;
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
  }
  
  .membresia {
    background-color: #000;
  }
  
  .membresia .information span {
    font-size: 2rem;
    color: #FFFB00;
  }
  
  .membresia .information h3 {
    font-size: 4rem;
    padding-top: .5rem;
    color: #fff;
  }
  
  .membresia .information p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  
  .membresia .information p i {
    padding-right: 1rem;
    color: #FFFB00;
  }
  
  .membresia .plan {
    text-align: center;
    padding: 2rem;
  }
  
  .membresia .plan.basic {
    background: linear-gradient(#111 100%, transparent 90%);
  }
  
  .membresia .plan.premium {
    background: linear-gradient(#111 100%, transparent 90%);
  }
  
  .membresia .plan h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  
  .membresia .plan .price {
    font-size: 5rem;
    font-weight: bolder;
    color: #FFFB00;
  }
  
  .membresia .plan .price span {
    color: #fff;
    font-size: 2rem;
  }
  
  .membresia .plan .list {
    padding: 1rem 0;
  }
  
  .membresia .plan .list p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  
  .membresia .plan .list p i {
    padding-right: 1rem;
    color: #FFFB00;
  }
  
  .footer {
    background-color: #000;
  }
  
  .footer h3 {
    font-size: 2rem;
    color: #FFFB00;
    padding-bottom: 1rem;
  }
  
  .footer .contenedor .caja h3 {
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 0;
  }
  
  .footer .contenedor .caja .links {
    font-size: 1.5rem;
    display: block;
    color: #aaa;
    padding: 1rem 0;
  }
  
  .footer .contenedor .caja .links:hover {
    color: #FFFB00;
  }
  
  .footer .contenedor .caja p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
  }
  
  .footer .contenedor .caja p i {
    padding-right: .5rem;
    color: #FFFB00;
  }
  
  .copyright {
    position: absolute;
    bottom: 0;
    width: 100%;;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    color: #fff;
    background: #111;
    line-height: 1.5;
  }
  
  @media (max-width: 992px) {
    body {
      font-size: 20%;
    }
  
    .inicio, .about-contenedor, .contenedor {
      display: block;
      text-align: center;
    }
  
    .plan.basic {
      margin: 1rem;
    }
  
    .plan.premium {
      margin: 1rem;
    }
  }
  
  /* tablets / celulares */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      justify-content: center;
    }
  
    nav {
      padding: 10px 0px;
    }
    
    .contenedor {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }
  }
  
  /* celulares */
  @media (max-width: 576px) {
    html {
      font-size: 65%;
    }
    
    .inicio span, h3 {
      font-size: 19px;
    }
  
    .about-contenedor, .contenedor {
      text-align: center;
    }
  } 