<!-- inicio de la seccion de planes  -->
<section class="planes" id="planes">
    <h1 class="texto"><span>Planes</span></h1>

    <div class="contenedor">

        <div class="caja">
            <div class="image">
                <img src="../../assets/images/mangym.jpg" alt="">
            </div>
            <div class="content">
                <img src="../../assets/images/icon-2.png" alt="">
                <h3>Entrenamientos especiales</h3>
                <p>Planes que se adaptan a vos.</p>
            </div>
        </div>

        <div class="caja second">
            <div class="image">
                <img src="../../assets/images/bodybuilding.jpg" alt="">
            </div>
            <div class="content">
                <img src="../../assets/images/icon-1.png" alt="">
                <h3>Culturismo</h3>
                <p>Desarrolla al maximo tus musculos con nuestros planes.</p>
            </div>
        </div>

        <div class="caja">
            <div class="image">
                <img src="../../assets/images/girl.jpg" alt="">
            </div>
            <div class="content">
                <img src="../../assets/images/icon-3.png" alt="">
                <h3>Entrenamientos especiales</h3>
                <p>Planes que se adaptan a vos.</p>
            </div>
        </div>
    </div>
</section>
<!-- final de seccion de planes -->