<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000;">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <span>Smart</span>FIT
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Informacion
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="sobreNosotros.html">Sobre nosotros</a></li>
              <li><a class="dropdown-item" href="planes.html">Planes</a></li>
              <li><a class="dropdown-item" href="contacto.html">Contacto</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="membresia.html">Membresia</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
