body {
    background-color: white;
}

.login-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login-container h2 {
    text-align: center;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container label {
    margin-bottom: 5px;
  }
  
  .login-container input {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .login-container .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .login-container button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #45a049;
  }
  
  .copyright {
    position: relative;
  }