html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

.footer {
  background-color: #000;
}

.footer h3 {
  font-size: 2rem;
  color: #FFFB00;
  padding-bottom: 1rem;
}

.footer .contenedor .caja h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .contenedor .caja .links {
  font-size: 1.5rem;
  display: block;
  color: #aaa;
  padding: 1rem 0;
}

.footer .contenedor .caja .links:hover {
  color: #FFFB00;
}

.footer .contenedor .caja p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
}

.footer .contenedor .caja p i {
  padding-right: .5rem;
  color: #FFFB00;
}

.copyright {
  position: relative !important;
  margin-top: auto;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  color: #fff;
  background: #111;
  line-height: 1.5;
}  

  