@import '../footer/footer.component.css';

.contacto {
  padding: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.contenido {
  flex-basis: 100%;
}

.horarios,
.contacto-info {
  flex-basis: 40%;
  text-align: center;
}

.titulo {
  font-size: 32px;
  color: #FFFB00;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 10px;
}

ol,
ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

li {
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 24px;
  color: #FFFB00;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

li i {
  color: #fff;
}

.contacto-info ul {
  list-style-type: none;
  padding: 0;
}

.contacto-info li {
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
}

.horarios ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0; 
}

.horarios ul li {
  
}

.horarios ul li span {
  font-weight: bold;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .horarios,
  .contacto-info {
    flex-basis: 100%;
  }
}
