<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body"  *ngFor="let producto of Productos">
      <img [src]="producto.imagen" class="img-fluid rounded-start" [alt]="producto.alt">
        <h5 class="card-titulo">{{producto.nombre}}</h5>
        <p class="card-text texto"> {{producto.descripcion}} </p>
        <p class="card-text precio">$ {{producto.precio}} </p>
      <button type="button" class="btn btn-outline-warning botonCard" (click)="onClick(producto)">Añadir al carrito</button>
      </div>
    </div>
  </div>
</div>