.footer {
    background-color: #000;
  }
  
  .footer h3 {
    font-size: 2rem;
    color: #FFFB00;
    padding-bottom: 1rem;
  }
  
  .footer .contenedor .caja h3 {
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 0;
  }
  
  .footer .contenedor .caja .links {
    font-size: 1.5rem;
    display: block;
    color: #aaa;
    padding: 1rem 0;
  }
  
  .footer .contenedor .caja .links:hover {
    color: #FFFB00;
  }
  
  .footer .contenedor .caja p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
  }
  
  .footer .contenedor .caja p i {
    padding-right: .5rem;
    color: #FFFB00;
  }

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    color: #fff;
    background: #111;
    line-height: 1.5;
  }