<section class="contacto">
    <div class="container">
      <div class="contenido">
        <h1 class="titulo">¡Contáctanos!</h1>
        <p>En SmartFit, nos encanta escucharte y estamos aquí para responder tus preguntas, resolver tus dudas y brindarte toda la información que necesitas. Estamos comprometidos en ofrecerte un excelente servicio al cliente y asegurarnos de que tengas una experiencia satisfactoria en cada interacción.</p>
        <p>Si deseas ponerte en contacto con nosotros, tienes varias opciones disponibles:</p>
        <ol>
          <li>Correo electrónico: Puedes enviarnos un correo electrónico a <a href="mailto:correo@smartfit.com">correo@smartfit.com</a>. Estamos atentos a revisar y responder todos los correos electrónicos que recibimos.</li>
          <li>Teléfono: Si prefieres una comunicación más directa, no dudes en llamarnos al <a href="tel:+123456789">+12-3456789</a>. Nuestro equipo estará encantado de atenderte y responder a todas tus preguntas.</li>
          <li>Redes sociales: Síguenos en nuestras redes sociales (Facebook, Instagram, Twitter) para mantenerte informado sobre nuestras últimas noticias, promociones especiales y eventos. Además, puedes enviarnos mensajes directos a través de estas plataformas y te responderemos lo antes posible.</li>
        </ol>
        <p>Estamos comprometidos en brindarte el mejor servicio y hacer de tu experiencia con SmartFit lo más fácil y agradable posible. No dudes en contactarnos en cualquier momento. ¡Estamos aquí para ti!</p>
      </div>
      <div class="horarios">
        <h3>Horarios</h3>
        <ul>
          <li>Lunes: <i>7:00am - 10:30pm</i></li>
          <li>Martes: <i>7:00am - 10:30pm</i></li>
          <li>Miércoles: <i>7:00am - 10:30pm</i></li>
          <li>Jueves: <i>7:00am - 10:30pm</i></li>
          <li>Viernes: <i>7:00am - 10:30pm</i></li>
          <li>Sábado: <i>7:00am - 10:30pm</i></li>
          <li>Domingo: <i>Cerrado</i></li>
        </ul>
      </div>
      <div class="contacto-info">
        <h3>Contacto</h3>
        <ul>
          <li>+12-3456789</li>
          <li>+12-3456789</li>
          <li>smartfit@gmail.com</li>
          <li>Córdoba - Argentina</li>
        </ul>
      </div>
    </div>
  </section>